.topicpage_container {
  position: relative;
  width: 100%;
  padding: 0px 15px;

  .header {
    .img_box {
      width: 100%;
      height: 50vh;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
        opacity: 0.7;
      }
    }
  }
}
